.auth {
    width: 100%;
    max-width: 850px;
    margin: auto;
    padding: 40px 30px;
    background: #ffffff;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px 0px, rgba(0, 0, 0, 0.5) 0px 0px 1px 0px;
    transform: translateY(10%);
}

.auth .auth__flip {
    display: none;
}

.auth .auth__cover {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 10;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
}

.auth .auth__flip:checked ~ .auth__cover {
    transform: rotateY(-180deg);
}

.auth .auth__cover img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 12;
    backface-visibility: hidden;
}

.auth .auth__cover .auth__cover_back img {
    transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.auth .auth__main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth--label {
    cursor: pointer;
    color: #349eff;
}

.auth--signup span {
    margin-left: 25px;
}

.auth--login {
    width: 45%;
}

.auth--signup {
    width: 50%;
}

.login--form {
    height: 100%;
    width: 100%;
    background: #fff;
    margin-bottom: 10px;
}

.auth--title {
    position: relative;
    font-size: 30px;
    font-weight: 500;
    color: #333;
}

.auth--input-boxes {
    margin-top: 15px;
}

.auth--input-box {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.auth--input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0px 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.auth--input-box input:focus,
.auth--input-box input:valid {
    border-color: #7d2ae8;
}

.auth--input-box i {
    width: auto;
    position: absolute;
    color: #7d2ae8;
    font-size: 17px;
}

.login--text {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.login--text a {
    text-decoration: none;
}

.login--text a:hover {
    text-decoration: underline;
}

.auth__button {
    margin-top: 5px;
    width: 100%;
    background: linear-gradient(to right, #cc99ff 0%, rgba(255, 51, 204, 0.82) 100%);
    color: #fff;
    font-size: 16px;
}

.signup--form {
    height: 100%;
    width: 95%;
    background: #fff;
    margin-bottom: 10px;
    margin-left: 25px;
}

.signup--gender-details {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.signup--gender {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup--gender input {
    width: auto;
}

.signup--gender span {
    width: auto;
    transform: translateX(-15px);
}

@media (max-width: 768px) {
    .auth {
        transform: translateY(0);
    }

    .auth .auth__cover {
        display: none;
    }

    .auth__main .auth--login,
    .auth__main .auth--signup {
        width: 100%;
    }

    .auth__main .auth--signup {
        display: none;
    }

    .auth .auth__flip:checked ~ .auth__main .auth--signup {
        display: block;
    }

    .auth .auth__flip:checked ~ .auth__main .auth--login {
        display: none;
    }

    .auth--signup span {
        margin-left: 0;
    }

    .login--form {
        width: 100%;
    }

    .signup--form {
        width: 100%;
        margin-left: 0;
    }

    .signup--gender span {
        transform: translateX(15px);
    }
}
