* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(199, 149, 255, 0.73);
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#ca50f6, #ff74b9);
}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(#da03fc, #ff2098);
}

#theme {
    display: none;
}

#theme:checked ~ .App {
    filter: invert(1);
}

.App {
    width: 100%;
    min-height: 100vh;
    background: #ffffff;
}

.main {
    width: 100%;
    max-width: 1400px;
    min-height: 100vh;
    position: relative;
    margin: auto;
    background: #f0f2f5;
}

.img-thumbnail {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.loadMoreButton {
    margin-top: 10px;
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border-radius: 15px;
    background: #ffffff;
    outline: none;
    border: 1px solid #ddd;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
}

img {
    object-fit: cover;
}

a {
    text-decoration: none;
    color: #000000;
}

.left-side__svg {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

@import url("./global.css");
@import url("./alert.css");
@import url("./404.css");
@import url("./auth.css");
@import url("./header.css");
@import url("./user-card.css");
@import url("./carousel.css");
@import url("./status-modal.css");
@import url("./change-password.css");
@import url("./home.css");
@import url("./avatar.css");
@import url("./side-bar.css");
@import url("./right-side.css");
@import url("./post-card.css");
@import url("./comment.css");
@import url("./profile.css");
@import url("./edit-profile.css");
@import url("./post_thumb.css");
@import url("./message.css");
@import url("./discover.css");
@import url("./friends.css");

@import url("./responsive/responsive.css");









