.post-page {
    margin-left: 25%;
    display: flex;
}

.post-card {
    padding: 10px;
    width: 100%;
    margin-top: 15px;
    background: rgb(255, 255, 254);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 15px;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 0 5px 0;
}

.card-header_avatar {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-header_user {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.card-header_user span {
    margin-left: 0px;
}

.card-header_user-name {
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.card-header_user-createdAt {
    font-size: 15px;
    font-style: italic;
}

.card-header_dropDown {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card-header_dropDown-input {
    display: none;
}

.card-header_dropDown label {
    margin-top: 5px;
}

.card-header_dropDown-menu {
    z-index: 2;
    width: 105px;
    display: none;
    position: absolute;
    top: 30px;
    right: 10px;
    padding: 10px;
    border-radius: 10px;
    background: rgb(255, 255, 254);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card-header_dropDown-input:checked ~ .card-header_dropDown-menu {
    display: inline;
}

.card-header_dropDown-item {
    width: 100%;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.card-header_dropDown-item:hover {
    background: #e5e5e5;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-body_content {
    padding: 8px;
    word-wrap: break-word;
    max-width: 650px;
    align-items: center;
    justify-content: center;
    margin-left: 0;
}

.card-body_content-text {
    margin: 5px 0px 5px 30px;
}

.card-body_content-textMore {
    font-weight: bold;
    cursor: pointer;
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.card-footer_like {
    display: flex;
}

.card-footer_comment {
    text-decoration: none;
    color: #000000;
    display: flex;
}

.card-footer_count {
    margin-left: 5px;
    margin-top: 5px;
    font-size: 18px;
}

.card-footer_icon-button {
    width: 35px;
    height: 35px;
    cursor: pointer;
}
