/* responsive */
@media (max-width: 940px) {
    .left-side_avatar-info {
        font-size: 14px;
    }
}

@media (max-width: 890px) {
    .left-side_avatar-info {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .header-logo {
        width: 20%;
    }

    .spaceRight {
        width: 20%;
    }

    .messageBody {
        width: 80%;
    }

    .header-logo--img {
        display: none;
    }

    .header-logo--name {
        margin: auto;
    }

    .header-items {
        width: 30%;
    }

    .search-bar {
        min-width: 200px;
    }

    .left-side {
        width: 20%;
        padding: 5px;
    }

    .left-side_avatar-info {
        font-size: 11px;
    }

    .left-side_avatar-info strong {
        display: none;
    }

    .left-side_ul li {
        padding: 5px 0px;
        font-size: 14px;
    }

    .left-side_ul li img {
        margin-left: 0px;
    }

    .left-side_ul li span {
        margin-left: 0px;
    }

    .home {
        margin-left: 20%;
    }

    .home-body {
        width: 90%;
    }

    .home-right {
        display: none;
    }

    .profile {
        margin-left: 20%;
        width: 80%;
    }

}

@media (max-width: 660px) {
    .header-logo {
        width: 12%;
        max-width: 70px;
    }

    .spaceRight {
        width: 12%;
    }

    .messageBody {
        width: 88%;
    }

    .header-logo--img {
        display: block;
        margin: auto;
    }

    .header-logo--name {
        display: none;
    }

    .header-search {
        width: 53%;
    }

    .header-items {
        width: 35%;
    }

    .search-bar {
        min-width: 160px;
    }

    .status-modal_form {
        width: 90%;
    }

    .left-side {
        width: 12%;
        max-width: 70px;
        padding: 0px;
    }

    .left-side_avatar-info {
        display: none;
    }

    .left-side_ul li img {
        margin-left: 25%;
    }

    .left-side_ul li span {
        display: none;
    }

    .home {
        margin-left: 12%;
    }

    .profile {
        margin-left: 12%;
        width: 88%;
    }
}