@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i');

.toast {
    position: fixed;
    top: 5px;
    right: 5px;
    width: auto;
    height: auto;
    min-height: 60px;
    max-width: 300px;
    min-width: 220px;
    border-radius: 5px;
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 1000;
}

.toast__icon{
    width: 10px;
    height: auto;
    min-height: 70px;
    border-radius: 5px 0 0 5px;
}

.toast__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 35px 5px 10px;
    word-wrap: break-word;
}

.toast__type {
    color: #3e3e3e;
    font-weight: 700;
    font-size: 17px;
}

.toast__message {
    font-size: 14px;
    color: #878787;
    word-wrap: break-word;
}

.toast__close {
    position: absolute;
    font-size: 10px;
    width: 15px;
    cursor:pointer;
    height: 15px;
    top: 40%;
    right: 10px;
    fill: #878787;
}

.toast--green .toast__icon{
    background-color:#2BDE3F;
}

.toast--green{
    background-color: #c3ffc9;
}

.toast--red .toast__icon{
    background: #fa0000;
}

.toast--red{
    background-color: #ffbebe;
}