@media (max-width: 600px) {
    .profile {
        margin: auto;
    }

    .info {
        margin-left: 0;
        width: 100%;
    }

    .info-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .info-content {
        width: 100%;
        margin-left: 10px;
    }

    .info-content_buttons {
        margin: auto;
    }
}