@media (max-width: 950px) {
    .left-side__avatar_info strong {
        display: none;
    }

    .left-side_link img {
        margin-left: 20px;
    }
}

@media (max-width: 768px) {
    .left-side__avatar_info span {
        font-size: 13px;
    }

    .left-side_link span {
        font-size: 13px;
    }
}

@media (max-width: 600px) {
    .left-side {
        display: none;
    }

    .post-page {
        margin-left: 0;
    }
}


